* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.fa.fa-times-circle {
  font-size: 30px;
  color: red;
}

img {
  
}

.nano { background: #bba; width: 500px; height: 500px; }
.nano .nano-content { padding: 10px; }
.nano .nano-pane   { background: #888; }
.nano .nano-slider { background: #111; }
